@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <form>
        <label for="Firstname">Fornavn:</label>
        <input type ="text" name="Firstname"><br />
        <label for="Lastname">Efternavn:</label>
        <input type ="text" name="Lastname"><br />
        <label for="Email">E-mail adresse:</label>
        <input type ="text" name="Email"><br />
        <label for="Password">Adgangskode:</label>
        <input type ="password" name="Password"><br />
        
        <input type ="submit" value ="Opret">

    </form>
</div>