

body {
    margin: 0;
    background-color: #333;
}

header {
    padding-left: 40px;
    height: 140px;
    /* background: -webkit-linear-gradient(270deg, transparent 25%, #0c8284 100%); */
    border-bottom: 10px solid rgba(12, 130, 132, 0.2);
}

footer {
    border-top: 10px solid rgba(12, 130, 132, 0.2);
}

input {
    box-sizing: border-box;
}

.main {
    position: relative;
    height: 300px;
    background-color: #0c8284;
    margin: 0;
}

.login-field {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    margin: -85px 0 0 -150px;
    overflow: hidden;
}

h1, h2, .login-field label {
    color: #dedede;
}

.login-field label, .login-field input[type=text], .login-field input[type=password] {
    font-size: 16px;
    display: block;
    width: 100%;
}

.login-field input[type=text], .login-field input[type=password] {
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.login-field input[type=submit] {
    font-size: 16px;    
    display: inline-block;
    float: right;
    padding: 4px 8px;
    background-color: #2cb5b8;
    /* border: 1px solid #002e3e; */
    border: 0;
    border-bottom: 1px solid #155959;
    border-radius: 3px;
    outline: 0;
    cursor: pointer;
    -webkit-transition: 1s background-color;
}

.login-field input[type=submit]:hover {
    background-color: #29adad;
}

.login-field input[type=submit]:active {
    position: relative;
    top: 1px;
    border: 0;
}

.login-field input[type=submit]:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

div {
    width:300px;
    margin: auto;
    height: 500px;
}
