@{
    ViewBag.PageId = "approve-student";
    ViewBag.Title = "Index";
}
<div class="main-content">
    <h1>Godkend Studerende</h1>

    <section class="approved-table">
    <form action="/Approved/table">
    <table border="1">
        <tr>
            <th><input type="checkbox" onclick="checkAllBoxes()" class="master-checkbox"/></th>
            <th>Fornavn</th>
            <th>Efternavn</th>
            <th>Hold</th>
            <th>Username</th>
        </tr>

        @foreach (var e in ViewBag.Students)
        {
            <tr>
                <td><input type="checkbox" class="check"/></td>
                <td>@e.Name.FirstName</td>
                <td>@e.Name.LastName</td>
                <td></td>
                <td></td> 
            </tr>
        }
    </table>
    </section>
</div>