@{ ViewBag.PageId = "register-user"; }
<header>
    <h2>@ViewBag.Title</h2>
</header>

<div class="login-field">
    <form method="post" action="/RegisterStudent/Do">
        <label for="Firstname">Fornavn:</label>
        <input type ="text" name="Firstname">
        <label for="Lastname">Efternavn:</label>
        <input type ="text" name="Lastname">
        <label for="Email">E-mail adresse:</label>
        <input type ="text" name="Email">
        <label for="Password">Adgangskode:</label>
        <input type ="password" name="Password">
        <label for="Repeat">Gentag Adgangskode:</label>
        <input type ="password" name="Repeat">
        <label for="Homeroom">Hold:</label>
        <input type="text" name="Homeroom">
        
        <input type ="submit" value ="Opret">

    </form>
</div>