<link href="~/Content/themes/Styles/StyleSheetBooking.css" rel="stylesheet" type="text/css">
<script>
function getSubject() { };
function choseAvivableDate() { };
function createBooking() { };
function cancel() { };

</script>
<div>
    <h1>Ny booking</h1>

    <h2>Fag</h2>
    <select>
      <option value="getSubject">Android</option>
      <option value="getSubject">System udviklings metoder</option>
      <option value="getSubject">Design af applikationer</option>
    </select>

    <h2>Dato</h2>
    <select>
      <option value="choseAvivableDate">28-11-13</option>
      <option value="choseAvivableDate">29-11-13</option>
      <option value="choseAvivableDate">29-11-13</option>
    </select>

    <h2>Vælg tid</h2>
    <label for="StartTime">Start tid</label>
    <input type="time" name="StartTime" class="input_time" value="2013-11-28">
    <label for="EndTime">Slut tid</label>
    <input type="time" name="EndTime" class="input_time" value="2013-11-28">

    <label for="comment"><h2>Kommentar</h2></label>
    <input type="text" name="comment" />

    <input type ="button" onclick = "createBooking()" value = "Create" />
    <input type ="button" onclick = "cancel()" value="Annuller" />
</div>