@{ ViewBag.PageId = "concrete-booking"; }
<div class="main-content">
	<h1> Mine bookinger </h1>

	<table class="table" id="table">
		<tr>
			<th class="leftmost"><input type="checkbox" onclick="checkAllBoxes()" class="master-checkbox"/></th>
			<th class="hidden"></th>
			<th>Fag</th>
			<th>Starttid</th>
			<th>Sluttid</th>
		</tr>
		@foreach (var e in ViewBag.BookingList)
		{ 
			<tr>
				<td class="leftmost"><input type="checkbox" class="slave-checkbox"/></td>
				<td class="hidden">@e.Id</td>
				<td>@e.Subject.Name</td>
				<td>@e.StartTime</td>
				<td>@e.EndTime</td>
			</tr>
		}
	</table>

	<a class="btn" href="/booking/createbooking">Opret ny</a>
	<button id="btn-delete">Slet</button>
</div>