
<h2>@ViewBag.Title</h2>

<div class="LoginField">
    <form method="post" action="/Login/Do">
        Brugernavn: <input type="text" name="usernameBox"> <br />
        Adgangskode: <input type="password" name="passwordBox"> <br />
        <input type="submit" value="Log ind"> 
    </form>
</div>