@{ ViewBag.PageId = "login"; }
<header>
    <h2>@ViewBag.Title</h2>
</header>

<div class="main">
    <div class="login-field">
        <form method="post" action="/Login/Do">
            <label for="usernameBox">Brugernavn:</label>
            <input type="text" name="usernameBox">
            <label for="passwordBox">Adgangskode:</label>
            <input type="password" name="passwordBox">
            <input type="submit" value="Log ind"> 
        </form>
    </div>
</div>

<footer></footer>